/frontend/node_modules/
/frontend/.next/
/frontend/out/

/target/

.env

.DS_Store
Thumbs.db

*.iml
.idea/
.vscode/

logs/
*.log
*.tmp

*.class

/openjdk-13.0.1_linux-x64_bin.tar.gz

*.jar
*.war
*.ear

__pycache__/
*.py[cod]

/target/
